algae/originals/*
algae/data/*
algae/plots/*

model/data/*
model/plots/*
model/runs/*

roti/

tmp.r
*.Rhistory
*~
*.jpg
*.csv
*.Rdata
*.txt
*.Rdata
*.pdf
Makefile
*.out

paper/*
!paper/paper.tex
!paper/bibi.bib

aag0863_SupportingFile_Suppl._Excel_seq1_v2.xlsx
